//== Footer 

/*	Footer	*/
/*-------------------------*/

#footer {
	padding-top: 1em;
	background: $gray_ex_lighter;

	a {
	}
}

/* Footer Nav */
.footer-nav {
 	
	ul {

		li {
			float: left;
			padding-right: 1.75em;
			padding-left: 1.5em;
			margin-bottom: .5em;
			position: relative;

			&:last-child {
				padding-right: 0;
			}

			a {
				display: block;
				color: $body_color;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&:before {
				content: '\e906';
				font-size: 14px;
				line-height: 14px;
				font-family: 'icomoon';
				color: $gray_light;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -7px;
				display: block;
				width: 14px;
				height: 14px;
			}

		}//li
	}//ul
}//.footer-nav

/* Copyrights */

#copyright {
	font-size: .8125em;
	text-align: right;
	padding: 1em 0 .25em;
//	background: $secondary_color;
	background: darken($primary_color, 8%);
	border-top: 10px solid $primary_color;
	color: $white;
    font-family: $font_family_en;
}

/* Page Top */

#pagetop {
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 9999;

	a {
		display: block;
		padding-top: 7px;
		background: darken($primary_color, 8%);
		color: $white;
		font-size: 12px;
		line-height: 1.25;
		width: 40px;
		height: 40px;
		text-align: center;
		border-radius: 50%;

		span {
			display: none;
		}

		&:before {
		  content: "\e900";
			display: block;
			font-family: icomoon;
			font-size: 1.5em;
			margin-top: 3px;
			margin-bottom: 1px;
		}

		&:hover {
			opacity: .7;
		}

		@include mq() {
			padding-top: 0;
			width: 68px;
			height: 68px;
			font-weight: normal;
			padding-top: 3px;

			span {
				display: inline-block;
				letter-spacing: 1px;
				position: relative;
				top: -2px;
			}
		}
	}
}

.side-open #pagetop a {
	display: none;
}


