//== Nav 

/*	Nav	*/
/*-------------------------*/

/* Main Navigation */

#drawer {
	color: $gray_ex_light;
}

.main-nav {
	list-style: none !important;
	padding: 1em 20px 0em;

	[class^="main-nav__item"],
	[class*=" main-nav__item"] {
		padding: .25em 0;
		font-size: 1.125em;
		font-weight: $font_weight_bold;
		border-bottom: 1px dotted $gray_lighter;

		a {
			display: block;
			position: relative;
			padding: .5em .25em;
			@include border-radius(4px);
			color: $body_color;
		}


		&.current,
		&:hover {

			> a{
				color: $primary_color;
			}
		}
/*
		&.main-nav__item_contact {
			padding-top: 1.5em;
		}

		&.main-nav__item_contact,
		&.main-nav__item_tel {

			a {
				padding: .5em;
				background: $success_color;
				color :$white;
				text-align: center;
				font-weight: $font-weight-bold;

				i {
					display: block;
					font-size: 2em;
					margin-top: .25em;
					margin-bottom: .25em;
				}
			}
		}

		&.main-nav-tel {

			a {
				background: $danger_color;
			}
		}
*/
		&.main-nav__icon {

		}

		ul.submenu {
			padding-left: 1.2em;
			padding-bottom: .5em;

			li {
				font-size: .93em;
				font-weight: normal; 
				border-bottom: none;

				a {
					padding: .125em .25em;
				}
			}
		}

	}//li
} //#main-nav

#pc-nav-wrapper {
	display: none;
}

/* PC Main Navigation */

.pc-disp #pc-nav-wrapper {
	display: block;
	float: right;
	clear: right;
	margin-top: 1.125em;

	* {
		overflow: visible;
	}
}
#pc-nav.main-nav_pc {
	list-style: none;
	padding: 0;
	margin-right: 0;
	margin-left: auto;


	[class^="main-nav__item"],
	[class*=" main-nav__item"] {
		float: left;
		position: relative;
		padding: 0 0em 0 .25em;

		@include mq(lg) {
			padding: 0 .25em 0 .75em;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			font-size: 1em;
			font-weight: $font-weight-bold;
			line-height: 1;
			padding: 12px 1em 35px;
			text-align: center;
			position: relative;
			color: $body_color;
			overflow: visible;
			z-index: 99;

			&:after {
				content: '';
				display: block;
				width: 0;
				height: 4px;
				background: transparent;
				position: absolute;
				bottom: -1px;
				left: 50%;
				@include transition( all .3s ease );
				z-index: 100;
			}
		}

		&.current a,
		a:hover {

			&:after {
				width: 100%;
				margin-left: -50%;
				background: $bg_primary_color;
			}
		}

		&.mob-menu {
			display: none;
		}

		&.trigger {
			position: relative;


			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 0px;
				height: 0px;
				top: 18px;
				right: 5px;
				border: 5px solid transparent;
				border-top: 8px solid $gray_lighter;
				z-index: 10;
			}
		}

		ul.submenu {
			position: absolute;
			top: 100%;
			top: calc(100% - 4px);
			left: 50%;
			margin-top: 0px; 
			margin-left: -90px;
			width: 180px;
			z-index: 100;
			background: $primary_color;
			@include box-shadow( 0 2px 3px rgba(0,0,0,.2));

			li {
				float: none;
				width: 100%;
				height: 0;
				overflow: hidden !important;
				border-color: darken($primary_color, 10%) !important;	
				text-align: left;
				padding: 0 0;

				a {
					height: 100%;
					font-size: .9375em !important;
					font-weight: normal;
					padding: 10px .125em 5px !important;
					background: $primary_color;
          color: $white;

					&:hover {
						background: lighten($primary_color, 5%);
						color: $white;
					}

					&:before,
					&:after {
						content: none;
					}
				}

			}//li

			 * {
				-webkit-transition: all .15s ease !important;
				transition: all .15s ease !important;
			}
		}//.submenu

		&:hover ul.submenu li {
		  overflow: visible;
		  height: 2.25em;
		  border-top: 1px dotted darken($primary_color, 10%) !important;
		}


		&.main-nav__icon {
			padding: 0 0 0 10px;
			display: inline-block;

			&.main-nav__item_topic {
				padding-left: 1.75em;
			}

			a {
				width: 36px;
				height: 36px;
				padding: 7px 0 !important;
				border-radius: 50%;
				line-height: 1;
				overflow: hidden;
				text-indent: -9999px;
				background-color: $gray_dark;
				background-repeat: no-repeat;
				background-position: center center;
				@include background-size( 22px 22px );

				&:hover {
					background-color: $primary_color;

					&:after {
						content: none;
					}
				}

			}

			&.main-nav__item_topic a {
				background-image: url(assets/images/icon_bell.svg);
			}
			&.main-nav__item_inquiry a {
				background-image: url(assets/images/icon_mail.svg);
			}
			&.main-nav__item_shopping a {
				background-image: url(assets/images/icon_cart.svg);
			}
		}//.nav-icon

	}//li

} //#pc-main-nav

/* PC Sticky Heaer Navigation */

.mob-disp #sticky-nav {
	display: none;
}
.pc-disp {
	#sticky-nav {

			position: fixed;
			top: -160px;
			width: 100%;
			padding: 0px 0 6px;
			z-index: 10;
			@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.25));
			-webkit-transition: top 0.25s;
							transition: top 0.25s;
			background: $white;

		&.visible {
			display: block;
			top: 0;
		}

		& > .main-nav_pc {

			margin-left: auto;
			margin-right: auto;
			width: 100%;
//			max-width: $container_width;

			padding-top: 0;
			padding-right: 15px;
			padding-left: 15px !important;
			text-align: right;

			@media screen and (min-width: 1360px) {
				padding-left: 45px !important;
				padding-right: 45px !important;
			}

			[class^="main-nav__item"],
			[class*=" main-nav__item"] {
				padding-top: 0 ;

				&.main-nav__item_home {
					display: block;
					float: left;
					padding-left: 0;
					padding-right: 0;

					a {
						width: 240px;
						height: 45px;
						background: url(assets/images/logo.png) no-repeat 0 0;
						@include background-size (240px auto);
						text-indent: -9999px;
						overflow: hidden;
						margin-top: 7px;
						padding: 0 !important;

						&:after {
							content: none !important;
						}
					}
				}// &.nav-home

				&.trigger:before {
					top: 12px;
					right: 2px;
				}

				&.sticky {
	
					display: inline-block;
					line-height: 1;
					float: none;


					a {
						padding: 5px .75em 15px;
					}
				}//&.sticky

				&.main-nav__icon {
					float: none;
					position: relative;
					top: 11px;
				}
			}
		}
	}//#site-navigation-clone
}//.pc-disp 


/* Footer Navigation */
.footer__inner {

	@include mq {

		.row {
			margin-right: -30px;
			margin-left: -30px;

			.footer-nav {
				border-right: 1px dotted $gray_lighter;
				padding-right: 30px;
				padding-left: 30px;
			}
		}
	}
}

.footer-nav {

	li {
		margin-bottom: .25em;

		@include mq {
			font-size: .9375em;
		}
	}

	ul.sub-menu {
		list-style: none;

		li {
			padding-left: 0em;
			
			&:before {
				content: '└';
				padding-left: .25em;
				padding-right: .25em;
				font-weight: $font-weight-bold;
				color: $gray_light;
				position: relative;
				top: .125em;
			}
		}
	}
}


