//== Flex Layout

/*	Flex ( without Mobile ) */
/*-------------------------*/
@include mq {
	.flex-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		align-items: stretch;

		.flex-item {
			-webkit-flex: 1;
			flex: 1;
		}
	}
}
